@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import "src/lib/toastr";

$base-color: #5d5d5d;
$dark-gray: #dddddd;
$dark-blue: #3f4255;
$light-gray: #fafafa;

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  background: silver;
}
* {
  margin: 0;
  padding: 0;
}
*::before,
*::after {
  box-sizing: inherit;

}

html, body {
    height: 100%;
    font: 14px/20px "Lato", Arial, sans-serif;
    transform: translate3d(0, 0, 0);
    overflow: hidden;
}
/* ----- custom scrollbar ----- */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.profile-photo {
  display: flex;
  flex-direction: row;

}

