<div class="wrapper">
  <div class="chat-container">
    <div class="user-info">
      <img class="profile-photo" src="assets/1.jpg" alt="">
      <h1 class="title">
        Alex
      </h1>
    </div>
    <div class="search">
      <input type="search" placeholder="Search or start new chat">
    </div>
    <div class="chat">
      <h1 class="title" style="color: deepskyblue; padding: 20px 0 20px 0">
        Chats
      </h1>
    </div>
    <div class="chat-list">
      <div class="list-menu">
        <ul class="list-menu-item">
          <li class="clearfix" *ngFor="let bot of bots" [routerLink]="['/', bot._id]" routerLinkActive="is-active">
            <img src="{{ bot.img }}" alt="avatar"/>
            <div class="last-message" *ngFor="let message of messages | slice:-1">{{ message.date | date: 'mediumDate'}}</div>
            <div class="about">
              <div class="name">{{ bot.name }}</div>
              <div class="text-message" *ngFor="let message of messages | slice:-1">
                <p *ngIf="message._botsId==bot._id">{{ message.value | truncate: 30}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="dialog-container">
    <ng-container *ngFor="let bot of bots | slice: 0">

    <div class="user-info"  *ngFor="let message of messages | slice: 0:1">
      <img class="profile-photo" *ngIf="message._botsId==bot._id" src="{{ bot.img }}" alt="">
      <h1 class="title" *ngIf="message._botsId==bot._id">
        {{ bot.name }}
      </h1>
    </div>
    </ng-container>
    <div class="message-list">
      <div class="messages">
        <div class="message input" *ngFor="let message of messages"><p>{{message.value}}</p>
          <div class="text-message message input">
            <div class="date">
              {{message.date | date: 'short'}}
            </div>
          </div>
        </div>
        <div class="message agent" *ngFor="let message of messages">
          <p *ngIf="message.value=='Chuck Norris'">{{message.value}}</p>
        <div class="text-message">
          <div class="date-left" *ngIf="message.value=='Chuck Norris'">
            {{message.value | date: 'short'}}
          </div>
        </div>
        </div>
      </div>
    </div>
    <div class="controls">
      <form
      (submit) = "handleSubmit()"
      [formGroup] = "messageFormGroup">
        <input
          type="text" name = "message"
          formControlName="value"
          placeholder="Type your message">
        <button
          class="form-btn"
          type = "submit">
        </button>
      </form>
    </div>
  </div>
</div>
