<div class="box">
  <div class="chat-container">
    <div class="user-info">
      <img class="profile-photo" src="assets/1.jpg" alt="">
      <h1 class="title">
        Alex
      </h1>
    </div>
    <div class="search">
    <input type="search" placeholder="Search or start new chat">
      </div>
    <div class="chat">
      <h1 class="title" style="color: deepskyblue; padding: 20px 0 20px 0">
        Chats
      </h1>
    </div>
    <div class="chat-list">
      <div class="list-menu">
        <ul class="list-menu-item">
          <li class="clearfix">
            <img src="assets/woman.png" alt="avatar" />
            <div class="about">
              <div class="name">Alice Weerman</div>
              <div class="text-message">
                <i class="fa"></i>Sorry, i'm busy rn.
              </div>
            </div>
          </li>
          <li class="clearfix">
            <img src="assets/woman.png" alt="avatar" />
            <div class="about">
              <div class="name">John Skywalker</div>
              <div class="text-message">
                <i class="fa"></i>Let's start!
              </div>
            </div>
          </li>
          <li class="clearfix">
            <img src="assets/woman.png" alt="avatar" />
            <div class="about">
              <div class="name">John Skywalker</div>
              <div class="text-message">
                <i class="fa"></i>Let's start!
              </div>
            </div>
          </li>
          <li class="clearfix">
            <img src="assets/woman.png" alt="avatar" />
            <div class="about">
              <div class="name">John Skywalker</div>
              <div class="text-message">
                <i class="fa"></i>Let's start!
              </div>
            </div>
          </li>
          <li class="clearfix">
            <img src="assets/woman.png" alt="avatar" />
            <div class="about">
              <div class="name">John Skywalker</div>
              <div class="text-message">
                <i class="fa"></i>Let's start!
              </div>
            </div>
          </li>
          <li class="clearfix">
            <img src="assets/woman.png" alt="avatar" />
            <div class="about">
              <div class="name">John Skywalker</div>
              <div class="text-message">
                <i class="fa"></i>Let's start!
              </div>
            </div>
          </li>
          <li class="clearfix">
            <img src="assets/woman.png" alt="avatar" />
            <div class="about">
              <div class="name">John Skywalker</div>
              <div class="text-message">
                <i class="fa"></i>Let's start!
              </div>
            </div>
          </li>
          <li class="clearfix">
            <img src="assets/woman.png" alt="avatar" />
            <div class="about">
              <div class="name">John Skywalker</div>
              <div class="text-message">
                <i class="fa"></i>Let's start!
              </div>
            </div>
          </li>
          <li class="clearfix">
            <img src="assets/woman.png" alt="avatar" />
            <div class="about">
              <div class="name">John Skywalker</div>
              <div class="text-message">
                <i class="fa"></i>Let's start!
              </div>
            </div>
          </li>
          <li class="clearfix">
            <img src="assets/woman.png" alt="avatar" />
            <div class="about">
              <div class="name">John Skywalker</div>
              <div class="text-message">
                <i class="fa"></i>Let's start!
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="dialog-container">
    <div class="user-info">
      <img class="profile-photo" src="assets/woman.png" alt="">
      <h1 class="title">
        Josefina
      </h1>

    </div>
    <div class="message-list">
      <div class="messages">
        <div class="message agent" data-message-id="0"><p>Hello! My name is James, how can I help you today?</p></div>
        <div class="message input" data-message-id="1"><p>omg the world is burning!!! send halpppp!!</p></div>
        <div class="message agent" data-message-id="2"><p>Not to worry. What kind of help are you looking for?</p></div>
        <div class="message input" data-message-id="3"><p>THE KIND THAT WILL STOP ME FROM DYING???</p></div>
        <div class="message agent" data-message-id="4"><p>Sure thing, we can definitely help with that. Where should we send aforementioned help?</p></div>
        <div class="message input" data-message-id="5"><p>Where should we send aforementioned help?</p></div>
        <div class="message agent" data-message-id="6"><p>Sure thing we send aforementioned help?</p></div>
        <div class="message input" data-message-id="7"><p>We send aforementioned help?</p></div>
        <div class="message agent" data-message-id="8"><p>Sure thing we send aforementioned help?</p></div>
        <div class="message input" data-message-id="9"><p>We send aforementioned help?</p></div>
      </div>
    </div>
    <div class="controls">
      <form>
        <input type="text" placeholder="Type your message">
        <input type="submit" value="">
      </form>
    </div>
  </div>
</div>
