@import '../../styles.scss';

.chat-container {
  display: flex;
  flex-direction: column;
  height: 650px;
}

.user-info {
  display: flex;
  flex-direction: row;
  width: 350px;
  background: whitesmoke;
  padding: 20px;
  border-top-left-radius: 8px;
}

.chat {
  padding: 10px;
  background: white;
}

.chat-list {
  flex-direction: column;
  padding: 0 0 0 10px;
  height: 600px;
  overflow-y: auto;
  background: white;
  border-bottom-left-radius: 8px;
}

.list-menu {
  display: flex;
  flex-direction: column;

  .list-menu-item {
    align-items: center;
    width: 100%;
    margin-bottom: 5px;

  }
}

.title {
  font-family: "Calibri Light", serif;
  font-size: 20px;
  padding: 15px;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  height: 650px;
  width: 650px;
  background: whitesmoke;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.message-list {
  flex-direction: column;
  padding: 0 0 0 10px;
  height: 450px;
  background: $light-gray;
  overflow-y: auto;
  overflow-x: hidden;
  border-bottom-left-radius: 8px;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1em 1.5em 0;

}

.message {
  display: grid;
  align-items: center;
}

.message p {
  border-radius: 2em;
  padding: 0.5em;
  margin-top: 1em;
}

.message.agent {
  position: relative;
  align-self: flex-start;
}

.message.agent p {
  background-color: $dark-blue;
  color: white;
  border-radius: 2em;
  padding: 1em;
}

.message.input {
  position: relative;
  margin: 1em 0 0 0;
  align-self: flex-end;
}


.message.input p {
  background-color: $dark-gray;
  text-align: right;
  color: $base-color;
  padding: 1em;
}

.controls {
  padding: 2em;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

input[type=search] {
  background-color: white;
  background-image: url('../../assets/search.png');
  background-size: 20px 20px;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding-left: 40px;
  width: 100%;
  height: 30px;
  border-radius: 50px;
}

input[type=text] {
  background-color: white;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  border-radius: 20px;
}

[type="button"] {
  margin-left: -60px;
  width: 50px;
  background-image: url('../../assets/plane.png');
  background-color: transparent;
  background-size: 30px 30px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  border: 0;
}

ul {
  list-style-type: none;

  li {
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid lightgray !important;
    &:hover {
      background: whitesmoke;
    }
    &.is-active {
      background-color: $dark-gray;
    }
  }
}

img {
  float: left;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.about {
  float: left;
  margin-top: 5px;
}

.about {
  padding-left: 8px;
}

.text-message {
  color: $base-color;

  .date {
    position: absolute;
    right: 0;
    font-size: 0.8em;
    margin: 0.5em 1em 0 1em;
  }
  .date-left {
    position: absolute;
    font-size: 0.8em;
    margin: 0.5em 1em 0 1em;
  }
}

.last-message {
  float: right;
  font-size: 0.8em;
  margin: 0.5em 1em 0 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  border-bottom-left-radius: 8px;

}

.search {
  display: flex;
  flex-direction: row;
  background: whitesmoke;
  padding: 10px;
}

